<a href="https://colab.research.google.com/github/Bross-DataScience/AppMax/blob/main/AppMax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [359]:
# Comando para instalar o PySpark no ambiente
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [360]:
# Criando a sessão Spark e importando os Dados
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ByteComercio').config('spark.master', 'local').getOrCreate()

df_byte_comercio = spark.read.csv('/content/MOCK_DATA.csv',  sep=',', inferSchema='false', header='true')

In [361]:
# Visualizando os Dados
df_byte_comercio.show(5)

+---+---------+---------+--------------------+--------+-------------------+
| id|     nome|sobrenome|               email| salario|      ultima_compra|
+---+---------+---------+--------------------+--------+-------------------+
|  1|   Ragnar|   Beggin|  rbeggin0@hexun.com|$1218.74|2022-01-10 03:22:31|
|  2|Meredithe|  Balazin|   mbalazin1@cmu.edu|$4345.39|2022-03-24 10:14:54|
|  3|    Cammi| Matchett|cmatchett2@networ...|$3443.81|2022-01-29 03:19:02|
|  4|     Peta|   Duffan|pduffan3@wordpres...|$4602.96|2022-02-10 03:46:11|
|  5| Cornelia|    Keith|ckeith4@businessw...|$1998.34|2022-03-21 17:19:13|
+---+---------+---------+--------------------+--------+-------------------+
only showing top 5 rows

In [362]:
# Verificando a Estrutura dos Dados
df_byte_comercio.printSchema()

root
 |-- id: string (nullable = true)
 |-- nome: string (nullable = true)
 |-- sobrenome: string (nullable = true)
 |-- email: string (nullable = true)
 |-- salario: string (nullable = true)
 |-- ultima_compra: string (nullable = true)

In [363]:
# Contando os Dados
df_byte_comercio.count()

1000

In [364]:
# Importando as Funções Sql para Manipular os Dados
from pyspark.sql.functions import *

In [365]:
# Concatenando as colunas nome e sobrenome para a coluna nome_completo usando a Função concat_ws
df_byte_comercio = df_byte_comercio.select(concat_ws(' ', df_byte_comercio.nome, df_byte_comercio.sobrenome).alias('nome_completo'), 'email', 'salario', 'ultima_compra')

In [366]:
# Visualizando Transformação dos Dados
df_byte_comercio.show(5, truncate=False)

+-----------------+---------------------------------+--------+-------------------+
|nome_completo    |email                            |salario |ultima_compra      |
+-----------------+---------------------------------+--------+-------------------+
|Ragnar Beggin    |rbeggin0@hexun.com               |$1218.74|2022-01-10 03:22:31|
|Meredithe Balazin|mbalazin1@cmu.edu                |$4345.39|2022-03-24 10:14:54|
|Cammi Matchett   |cmatchett2@networkadvertising.org|$3443.81|2022-01-29 03:19:02|
|Peta Duffan      |pduffan3@wordpress.org           |$4602.96|2022-02-10 03:46:11|
|Cornelia Keith   |ckeith4@businessweek.com         |$1998.34|2022-03-21 17:19:13|
+-----------------+---------------------------------+--------+-------------------+
only showing top 5 rows

In [367]:
# Verificando a Estrutura dos Dados
df_byte_comercio.printSchema()

root
 |-- nome_completo: string (nullable = false)
 |-- email: string (nullable = true)
 |-- salario: string (nullable = true)
 |-- ultima_compra: string (nullable = true)

In [368]:
# Removendo os valores Nulos da coluna ultima_compra
df_byte_comercio = df_byte_comercio.na.drop(subset=['ultima_compra'])

In [369]:
# Visualizando Transformação dos Dados
df_byte_comercio.show(5, truncate=False)

+-----------------+---------------------------------+--------+-------------------+
|nome_completo    |email                            |salario |ultima_compra      |
+-----------------+---------------------------------+--------+-------------------+
|Ragnar Beggin    |rbeggin0@hexun.com               |$1218.74|2022-01-10 03:22:31|
|Meredithe Balazin|mbalazin1@cmu.edu                |$4345.39|2022-03-24 10:14:54|
|Cammi Matchett   |cmatchett2@networkadvertising.org|$3443.81|2022-01-29 03:19:02|
|Peta Duffan      |pduffan3@wordpress.org           |$4602.96|2022-02-10 03:46:11|
|Cornelia Keith   |ckeith4@businessweek.com         |$1998.34|2022-03-21 17:19:13|
+-----------------+---------------------------------+--------+-------------------+
only showing top 5 rows

In [370]:
# Removendo Caracteres Especiais da Coluna Sálario 
df_byte_comercio = df_byte_comercio.withColumn('salario', regexp_replace(col('salario'), '[\$]', ''))
print(df_byte_comercio.printSchema())
df_byte_comercio.show(5, truncate=False)

root
 |-- nome_completo: string (nullable = false)
 |-- email: string (nullable = true)
 |-- salario: string (nullable = true)
 |-- ultima_compra: string (nullable = true)

None
+-----------------+---------------------------------+-------+-------------------+
|nome_completo    |email                            |salario|ultima_compra      |
+-----------------+---------------------------------+-------+-------------------+
|Ragnar Beggin    |rbeggin0@hexun.com               |1218.74|2022-01-10 03:22:31|
|Meredithe Balazin|mbalazin1@cmu.edu                |4345.39|2022-03-24 10:14:54|
|Cammi Matchett   |cmatchett2@networkadvertising.org|3443.81|2022-01-29 03:19:02|
|Peta Duffan      |pduffan3@wordpress.org           |4602.96|2022-02-10 03:46:11|
|Cornelia Keith   |ckeith4@businessweek.com         |1998.34|2022-03-21 17:19:13|
+-----------------+---------------------------------+-------+-------------------+
only showing top 5 rows

In [371]:
# Importando os tipos de Dados do Pyspark Sql
from pyspark.sql.types import *

In [372]:
# Alterando o tipo da coluna salario de STRING para DOUBLE
df_byte_comercio = df_byte_comercio.withColumn('salario', df_byte_comercio['salario'].cast(DoubleType()))
print(df_byte_comercio.printSchema())
df_byte_comercio.show(5, truncate=False)

root
 |-- nome_completo: string (nullable = false)
 |-- email: string (nullable = true)
 |-- salario: double (nullable = true)
 |-- ultima_compra: string (nullable = true)

None
+-----------------+---------------------------------+-------+-------------------+
|nome_completo    |email                            |salario|ultima_compra      |
+-----------------+---------------------------------+-------+-------------------+
|Ragnar Beggin    |rbeggin0@hexun.com               |1218.74|2022-01-10 03:22:31|
|Meredithe Balazin|mbalazin1@cmu.edu                |4345.39|2022-03-24 10:14:54|
|Cammi Matchett   |cmatchett2@networkadvertising.org|3443.81|2022-01-29 03:19:02|
|Peta Duffan      |pduffan3@wordpress.org           |4602.96|2022-02-10 03:46:11|
|Cornelia Keith   |ckeith4@businessweek.com         |1998.34|2022-03-21 17:19:13|
+-----------------+---------------------------------+-------+-------------------+
only showing top 5 rows

In [375]:
# Alterando o tipo da coluna ultima_compra de STRING para TIMESTAMP
df_byte_comercio = df_byte_comercio.withColumn("ultima_compra", to_timestamp("ultima_compra", 'yyyy-MM-dd HH:mm:ss'))
print(df_byte_comercio.printSchema())
df_byte_comercio.show(5, truncate=False)

root
 |-- nome_completo: string (nullable = false)
 |-- email: string (nullable = true)
 |-- salario: double (nullable = true)
 |-- ultima_compra: timestamp (nullable = true)

None
+-----------------+---------------------------------+-------+-------------------+
|nome_completo    |email                            |salario|ultima_compra      |
+-----------------+---------------------------------+-------+-------------------+
|Ragnar Beggin    |rbeggin0@hexun.com               |1218.74|2022-01-10 03:22:31|
|Meredithe Balazin|mbalazin1@cmu.edu                |4345.39|2022-03-24 10:14:54|
|Cammi Matchett   |cmatchett2@networkadvertising.org|3443.81|2022-01-29 03:19:02|
|Peta Duffan      |pduffan3@wordpress.org           |4602.96|2022-02-10 03:46:11|
|Cornelia Keith   |ckeith4@businessweek.com         |1998.34|2022-03-21 17:19:13|
+-----------------+---------------------------------+-------+-------------------+
only showing top 5 rows

In [377]:
# Verificando a Média dos salários dos clientes
df_byte_comercio.select(format_number(avg('salario'), 2).alias('Media dos Salários')).show()

+------------------+
|Media dos Salários|
+------------------+
|          3,043.20|
+------------------+

In [381]:
df_byte_comercio.describe().show()

+-------+---------------+--------------------+------------------+
|summary|  nome_completo|               email|           salario|
+-------+---------------+--------------------+------------------+
|  count|            896|                 896|               896|
|   mean|           null|                null|3043.2011718750023|
| stddev|           null|                null|1156.8772246271785|
|    min|     Abe Binnie|aabarrowo8@busine...|           1002.15|
|    max|Zorah Holdforth|zshatfordjr@cafep...|           4995.67|
+-------+---------------+--------------------+------------------+